@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.GeneralContentPage>
@{
	Layout = "Layout.cshtml";
	if (Model == null) return;
}

@await Html.GetBlockGridHtmlAsync(Model.PageHeader)

<!-- Content Sections -->
<main class="container my-5">
	<section class="mb-5">
		@await Html.GetBlockGridHtmlAsync(Model.MainContent)
	</section>
</main>