<?xml version="1.0" encoding="utf-8"?>
<Content Key="0124f822-0854-4240-9d9e-9884868ff24d" Alias="Contact Us Page" Level="2">
  <Info>
    <Parent Key="39c8450a-2c6c-4cdc-809b-507177b600be">Home</Parent>
    <Path>/Home/ContactUsPage</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsPage</ContentType>
    <CreateDate>2025-04-05T15:27:11</CreateDate>
    <NodeName Default="Contact Us Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="62fa140d-51bc-428a-9ead-7e7f6529544e">contactUsPage</Template>
  </Info>
  <Properties>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e983f81c-b530-41dd-82ca-d67787189789",
      "key": "773f7b1c-763f-465b-ad1a-65a0c36551fc",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cdiv id=\u0022Content\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit.Aenean a nisi consectetur, congue quam vitae, iaculis lacus.Pellentesque sit amet nisi sit amet risus accumsan feugiat.Aenean fermentum sem rutrum nisi ultricies, id cursus lacus tempor.Mauris pharetra dolor et sodales finibus.Duis facilisis magna in egestas pharetra.Ut rhoncus justo et purus pharetra maximus.Aliquam quis mi ac nulla aliquam auctor.Fusce sit amet tortor ultricies orci fermentum aliquam ut id libero.Maecenas ultrices massa et feugiat cursus.Donec elementum risus a elementum aliquam.Generated 5 paragraphs, 79 words, 570 bytes of \u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022https://www.lipsum.com/\u0022 title=\u0022Lorem Ipsum\u0022 type=\u0022external\u0022\u003ELorem Ipsum\u003C/a\u003E\u003C/div\u003E\u003Cp\u003E\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "773f7b1c-763f-465b-ad1a-65a0c36551fc",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "773f7b1c-763f-465b-ad1a-65a0c36551fc",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageHeader>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "91ef39e0-216d-445c-ba15-3c81f4781e23",
      "key": "b934471a-6871-4c27-9489-c3d207f0894a",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Contact Us"
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "This is contact us page"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d36719d4-2523-41ab-a426-f24bf58e568e",
              "mediaKey": "84bbae4b-509d-4d86-b581-60572003aa11",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "primaryCallToAction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Go to Tome Page",
              "target": null,
              "udi": "umb://document/39c8450a2c6c4cdc809b507177b600be",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b934471a-6871-4c27-9489-c3d207f0894a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "b934471a-6871-4c27-9489-c3d207f0894a",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </pageHeader>
  </Properties>
</Content>