<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3eb34a4-a3d9-4fa1-abfe-113dbd586bd6" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>site</ContentType>
    <CreateDate>2025-04-06T08:31:31</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerContent>
      <Value><![CDATA[© 2025 BlueGrass Umbraco. All rights reserved.]]></Value>
    </footerContent>
    <navigation>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "58bfb376-50a2-47ee-9bb8-3cf9adb5e640",
      "key": "5abc80e4-6cdf-49d3-9af8-92e47fb238d5",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Name"
        },
        {
          "alias": "navLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Home",
              "target": null,
              "udi": "umb://document/39c8450a2c6c4cdc809b507177b600be",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "58bfb376-50a2-47ee-9bb8-3cf9adb5e640",
      "key": "ce3cf829-0680-4de0-8829-69f09b24aaf0",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Contact Us"
        },
        {
          "alias": "navLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact Us Page",
              "target": null,
              "udi": "umb://document/0124f822085442409d9e9884868ff24d",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "58bfb376-50a2-47ee-9bb8-3cf9adb5e640",
      "key": "b20b5848-07ea-42e5-93f3-52b92d8ccf7e",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Products"
        },
        {
          "alias": "childLinks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Site Dev",
              "target": null,
              "udi": null,
              "url": "#",
              "queryString": "#"
            },
            {
              "name": "Site Design",
              "target": "_blank",
              "udi": null,
              "url": "#",
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "5abc80e4-6cdf-49d3-9af8-92e47fb238d5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ce3cf829-0680-4de0-8829-69f09b24aaf0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b20b5848-07ea-42e5-93f3-52b92d8ccf7e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5abc80e4-6cdf-49d3-9af8-92e47fb238d5",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "b20b5848-07ea-42e5-93f3-52b92d8ccf7e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ce3cf829-0680-4de0-8829-69f09b24aaf0",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </navigation>
    <siteName>
      <Value><![CDATA[BlueGrass Umbraco]]></Value>
    </siteName>
  </Properties>
</Content>