<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e67b2942-3958-46e6-bec4-25da1bcbe42a" Alias="generalContentPage" Level="2">
  <Info>
    <Name>General Content Page</Name>
    <Icon>icon-page-add</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="fd5e9d93-d492-4135-958a-698d48130843">contentProperties</Composition>
      <Composition Key="76979b9e-2c89-44f8-a7f4-1e48a67d9067">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>GeneralContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d1067600-f870-43e7-985c-7aef76b76850">GeneralContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e67b2942-3958-46e6-bec4-25da1bcbe42a" SortOrder="0">generalContentPage</ContentType>
    <ContentType Key="8c4eb389-d307-4376-9f0e-8b537e30a7e0" SortOrder="1">contactUsPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>