<?xml version="1.0" encoding="utf-8"?>
<DataType Key="100ace65-71a8-4ee0-b3bc-167fc9740ebf" Alias="[Block List] - Navigation" Level="2">
  <Info>
    <Name>[Block List] - Navigation</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "58bfb376-50a2-47ee-9bb8-3cf9adb5e640",
      "label": "{=title}"
    }
  ]
}]]></Config>
</DataType>