<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4ea1a8b-fc04-4770-ad03-0104898ce8b8" Alias="[Block Grid] - Header Content" Level="2">
  <Info>
    <Name>[Block Grid] - Header Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "210b1736-d486-4aa4-a6cf-69a770f1e480",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        }
      ],
      "rowMaxSpan": 1
    },
    {
      "contentElementTypeKey": "91ef39e0-216d-445c-ba15-3c81f4781e23",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        }
      ],
      "rowMaxSpan": 1
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>