<?xml version="1.0" encoding="utf-8"?>
<DataType Key="080427cf-fe5d-42e5-81d5-f2da2076bb23" Alias="[Block Grid] - Main Content" Level="2">
  <Info>
    <Name>[Block Grid] - Main Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e983f81c-b530-41dd-82ca-d67787189789",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 12
        }
      ]
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>