<?xml version="1.0" encoding="utf-8"?>
<DataType Key="57fce9bd-ada5-4a15-bcfd-7b399e18b299" Alias="[Url Picker] - Single Url Picker" Level="2">
  <Info>
    <Name>[Url Picker] - Single Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>