<?xml version="1.0" encoding="utf-8"?>
<Media Key="171b01d5-8487-482c-8f8e-32cdfd791771" Alias="xinyi-wen-qjCHPZbeXCQ-unsplash.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/xinyiWenQjCHPZbeXCQUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-06T10:39:45</CreateDate>
    <NodeName Default="xinyi-wen-qjCHPZbeXCQ-unsplash.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/llff1ipo/xinyi-wen-qjchpzbexcq-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>